.wrapper{
    text-align: center;
}

.answers{
    text-align: center;
    padding: 30px;
    width: 500px;
    font-size: 20px;
}

#answer1{
    margin-top: 80px;
}

body {
    background-image: url("../images/AHS-Apocalypse.jpg");
 }

 *{
     color: white;
 }
 #theme{
     color: black;
 }
 .theme{
     color: black;
 }